.body {
  background-color: white; }

/* Logo */
.div-logo {
  text-align: center;
  padding: 2vh; }

.logo-diario {
  width: 15vh;
  height: 15vh; }

/* Tabla */
.table {
  margin-top: 2%; }

.titleTable {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 2%; }

.titlePrincipal {
  color: #2d51c7;
  font-family: "Sansita", sans-serif;
  text-align: center; }

.list {
  border: 2px solid;
  list-style: circle; }

/* Navbar */
* {
  box-sizing: border-box; }

.nav {
  height: 50px;
  width: 100%;
  background-color: #000000;
  position: relative; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  transition: font-size 0.5s; }

.nav > .nav-header > .nav-title:hover {
  font-size: 28px; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: black; }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #3a6fe0;
    height: 0px;
    transition: all 0.5s;
    overflow-y: hidden; }
  .nav > .nav-links > a {
    display: block;
    width: 100%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

/* Noticias */
.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid white;
  padding: 20px;
  margin-top: 25px; }

.img {
  width: 400px;
  height: 300px;
  Transition: height, width 1.5s; }

.img:hover {
  width: 550px;
  height: 450px; }

@media (max-width: 600px) {
  .img {
    width: 350px;
    height: 250px; } }

h2 {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: left; }

p {
  margin-left: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left; }

/* Form */
.alerta {
  margin: 50px;
  text-align: center; }

.close {
  color: #000000;
  font-size: 25px;
  margin-left: 5px; }

.form-title {
  text-align: center; }

.form {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  margin-bottom: 5%; }

.form-control {
  color: #000000; }

/* Calendario */
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr); }

#calendar tr,
#calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%; }

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0; }

#calendar a {
  color: #8e352e;
  text-decoration: none; }

#calendar td,
#calendar th {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc; }

#calendar .weekdays {
  background: #2d51c7; }

#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px; }

#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column; }

#calendar .days li:hover {
  background: #d3d3d3; }

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: lightblue;
  color: blue;
  width: 20px;
  border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end; }

#calendar .event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none; }

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none; }

#calendar .other-month {
  background: #f5f5f5;
  color: #666; }

@media (max-width: 768px) {
  #calendar .weekdays,
  #calendar .other-month {
    display: none; }
  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px; }
  #calendar,
  #calendar tr,
  #calendar tbody {
    grid-template-columns: 1fr; }
  #calendar tr {
    grid-column: 1 / 2; }
  #calendar .date {
    align-self: flex-start; } }
